.Top{


	}
.Characters img{
position: absolute;
right: 800px;
top: 800px;
	}

.Characters li{
color: white
	}


.BerserkBeginnings{
	
	}
.BerserkBeginnings p{
position: absolute;

	}
.Guts{
width: 200px;
height:200px;
	}

.Griffith{
width: 200px;
height: 200px;
	}

.Casca{
width:200px;
height:200px;
	}	

h1{
Color: White;

	}

p{
Color: white;

	}




body{
Background-image: url('https://images2.alphacoders.com/749/749693.jpg');

	}
